body{
	margin: 0;
	background-color: #BC9377;
	width: 100%;
	z-index: 100;
	font-family: 'Playfair Display', serif;
	justify-content: center;
	align-items: center;
	text-align: center;
}

header{
	background-image: url(../img/background3.jpg);
	position: relative;
	width: 100;
	-webkit-box-shadow: 0 5px 7px rgba(57, 63, 72, 0.3);
  	-moz-box-shadow: 0 5px 7px rgba(57, 63, 72, 0.3);
	box-shadow: 0 5px 7px rgba(57, 63, 72, 0.3);
}

header ol{
	margin: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

header ol li{
	display: flex;
	justify-content: space-between;
	margin-top: 5%;
	font-size: 125%;
	transform: scale(1);
	transition: transform 1s;
}

header ol li:hover{
	transform: scale(1.05);
	transition: transform 1s;
}

header ol li a{
	color: #FAFAFA;
	transition: color 0.3s;
	text-decoration: none;
}
header ol li a:hover{
	color: #b3b3b3;
	transition: color 0.3s;
}

header img{
	opacity: 1;
	transition: opacity 0.5s;
}

.logo_header{
	width: 30%;
	margin-left: 5%;
}

header img:hover{
	opacity: 0.8;
	transition: opacity 0.5s;
}


.livre{
	display: inline-flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgba(188, 157, 103, 0.25);
	margin: 5px;
	border: solid;
	border-color: #A27B36;
	transform: scale(0.8);
	transition: transform 1s;
}

.livres{
	justify-content: center;
	align-items: center;
	text-align: center;
}

.livres a{
	text-decoration: none;
	color: #FAFAFA;
}

.livres strong{
	text-decoration: none;
	color: #A27B36;
}

.livre:hover{
	transform: scale(1);
	transition: transform 1s;
}

.h1Books{
	display: flex;
	justify-content: center;
}

.h1Authors{
	display: flex;
	justify-content: center;
}

.auteur{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgba(188, 157, 103, 0.25);
	margin: 5px;
	border: solid;
	border-color: #A27B36;
	transform: scale(1);
	transition: transform 1s;
}

.auteurs{
	justify-content: center;
	align-items: center;
	text-align: center;
}

.logoHeaderWrap{
	display: flex;
	justify-content: flex-start;
}
